/* reset */
/* main variables */
body { margin: 0px; padding: 0px; font-family: Arial, sans-serif; background-color: #FFF; height: 100%; line-height: 1; position: relative; font-size: 13px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: Arial, sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #23a2be; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/Open Sans Light.eot"); src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg"); font-weight: 300; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/Open Sans Bold.eot"); src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg"); font-weight: 700; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/Open Sans.eot"); src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg"); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'Comfortaa'; src: url("../fonts/Comfortaa.eot"); src: url("../fonts/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa.woff") format("woff"), url("../fonts/Comfortaa.ttf") format("truetype"), url("../fonts/Comfortaa.svg#Comfortaa") format("svg"); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header { background-color: #f9f9f9; width: 100%; height: 80px; min-width: 320px; text-align: left; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-order: 1; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer { background: #f9f9f9; height: 80px; text-align: left; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -webkit-order: 3; }

.main-wrapper { padding: 0 0 0 0; min-width: 320px; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; }

.wrapper { min-width: 320px; max-width: 1200px; padding: 0 15px 0 15px; margin: 0 auto; position: relative; }

.flex { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; }

/* titles */
p { font-size: 13px; line-height: 18px; color: #000; padding: 15px 0 15px 0; font-weight: 400; }

li { list-style: none; }

img { max-width: 100%; }

h1 { font-size: 29px; line-height: 46px; color: #000; font-family: 'Comfortaa'; padding: 15px 0 15px 0; font-weight: 400; }

h2 { font-size: 17px; line-height: 1; color: #000; font-family: "Open Sans", sans-serif; color: #000; padding: 0 0 20px 0; text-transform: uppercase; font-weight: 400; }

h3 { font-size: 28px; line-height: 32px; color: #000; font-family: "Open Sans", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { background: url(../img/loader.gif) no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }

.loaded .icon-load { display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content-wrapper { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-order: 2; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-grow: 1; background: #f9f9f9; padding-top: 20px; }

/* sidebar */
.sidebar { width: 270px; }

.sidebar-menu { border: 1px solid #ebebeb; }

.sidebar-li { position: relative; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background-color: #fff; border-bottom: 1px solid #ebebeb; border-radius: 3px; }

.sidebar-arrow { position: absolute; left: 0; top: 50%; width: 100%; transform: translate(0, -50%); -moz-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; width: 10px; height: 6px; right: 13px; left: initial; cursor: pointer; z-index: 999; }

.sidebar-arrow:after, .sidebar-arrow:before { top: 2px; position: absolute; content: ''; background-color: #939393; width: 6px; height: 1px; }

.sidebar-arrow:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); right: 0; }

.sidebar-arrow:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.sidebar-arrow__active { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.sidebar-point { position: relative; color: #343434; font-size: 14px; font-weight: 700; line-height: 24px; padding: 8px 20px; cursor: pointer; }

.sidebar-li__select { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }

.jq-selectbox { position: absolute; right: 5px; top: 5px; height: 30px; width: 160px; background-color: #f3f3f3; border: 1px solid #e1e1e1; font-weight: 700; -webkit-appearance: none; -moz-appearance: none; cursor: pointer; -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14); -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14); border-radius: 3px; }

.jq-selectbox__select-text { padding: 6px 15px; }

.jq-selectbox__dropdown { left: -1px; right: -1px; padding: 5px; background-color: #f3f3f3; z-index: 1999; }

.jq-selectbox__dropdown ul::-webkit-scrollbar { width: 0; right: 10px; }

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb { background-color: #000; outline: 1px solid #000; }

.jq-selectbox__dropdown li { padding: 4px; -webkit-transition: 0.3s; transition: 0.3s; }

.jq-selectbox__dropdown li:hover { color: #23a2be; -webkit-transition: 0.3s; transition: 0.3s; }

.sidebar-submenu { display: none; max-height: 174px; overflow-y: auto; margin-right: 8px; }

.sidebar-submenu::-webkit-scrollbar { width: 3px; right: 10px; }

.sidebar-submenu::-webkit-scrollbar-thumb { background-color: #93deff; outline: 1px solid #93deff; }

.sidebar-submenu__link { display: block; padding: 2px 30px; color: #444; font-size: 13px; line-height: 24px; -webkit-transition: 0.3s; transition: 0.3s; }

.sidebar-submenu__link:hover { color: #23a2be; -webkit-transition: 0.3s; transition: 0.3s; }

.sidebar-submenu__link_active { color: #23a2be; }

.sidebar-filter__btn { color: #36a8bf; font-size: 13px; font-weight: 400; line-height: 24px; padding: 7px 0; text-align: center; cursor: pointer; background-color: #fff; }

.main-content { width: 900px; padding-left: 30px; }

/* product */
.products { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.product-item { position: relative; width: 270px; margin-bottom: 80px; background-color: #fff; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #f9f9f9; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -ms-box-shadow: 0 1px 2.8px 1.2px rgba(0, 0, 0, 0.09); -o-box-shadow: 0 1px 2.8px 1.2px rgba(0, 0, 0, 0.09); box-shadow: 0 1px 2.8px 1.2px rgba(0, 0, 0, 0.09); border-radius: 4px; }

.product-item:hover { border: 1px solid #c2e8f0; -ms-box-shadow: 0 5px 10.6px 1.4px rgba(68, 190, 217, 0.36); -o-box-shadow: 0 5px 10.6px 1.4px rgba(68, 190, 217, 0.36); box-shadow: 0 5px 10.6px 1.4px rgba(68, 190, 217, 0.36); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.product-item:hover .product-name__title { color: #23a2be; }

.product-news { position: absolute; top: 10px; left: 15px; font-size: 11px; text-transform: uppercase; font-weight: 600; text-align: center; color: #fff; border-radius: 3px; }

.product-news__new { padding: 9px 6px; background-color: #48b3cb; }

.product-news__hit { padding: 8px; background-color: #ffae2e; }

.product-img { background-color: #fafafa; min-height: 234px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.product-rating { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 20px 0 10px; }

.product-rating__star { padding: 0; width: 15px; height: 15px; background-image: url("../img/star.png"); cursor: pointer; background-repeat: no-repeat; background-position: 50%; background-size: contain; }

.product-rating__star_active { background-image: url("../img/star_active.png"); }

.product-name { position: relative; padding-bottom: 13px; }

.product-name:after { position: absolute; content: ''; bottom: 0; left: 50%; margin-left: -40px; width: 80px; height: 1px; background-color: #dbdbdb; }

.product-name__title { padding: 0; text-align: center; color: #282828; font-size: 15px; line-height: 30px; }

.product-price { text-align: center; margin: 12px 0 13px; }

.product-price__title { color: #282828; font-size: 15px; font-weight: 700; line-height: 30px; }

.slick-slider { width: 900px; }

.slick-slide { margin: 1px 15px; }

.slick-list { width: 900px; margin: 0 -15px; }

.slick-arrow { position: absolute; width: 38px; height: 38px; bottom: -17px; background-color: #f1f1f1; border: 1px solid #d7d7d7; text-indent: -9999px; border-radius: 50%; }

.slick-arrow:after, .slick-arrow:before { position: absolute; content: ''; left: 50%; width: 2px; height: 7px; background-color: #51b5ca; }

.slick-arrow:after { top: 17px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.slick-arrow:before { top: 13px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.slick-prev { left: 41%; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.slick-next { right: 41%; }

.slick-dots { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-top: 50px; }

.slick-dots button { font-size: 0; border: 0; padding: 0; margin: 0 3px; width: 5px; height: 5px; background-color: #ccc; border-radius: 50%; }

.slick-dots button:hover { background-color: #e44256; }

.slick-dots .slick-active button { background-color: #e44256; }

@media screen and (max-width: 1200px) { .main-content { width: 720px; }
  .slick-list, .slick-slider { width: 690px; }
  .slick-slide { margin: 1px 37px; }
  .products { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .slick-prev { left: 31%; }
  .slick-next { right: 31%; } }

@media screen and (max-width: 991px) { .main-content, .slick-list, .slick-slider { width: 460px; }
  .product-item { width: 200px; -webkit-box-pack: initial; -webkit-justify-content: initial; -ms-flex-pack: initial; justify-content: initial; }
  .slick-slide { margin: 1px 14px; } }

@media screen and (max-width: 767px) { .content-wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .sidebar { margin-bottom: 20px; }
  .main-content { padding: 0; }
  .product-item { width: 220px; margin-bottom: 40px; }
  .slick-slide { margin: 1px 4px; }
  .slick-list { margin: 0; } }

@media screen and (max-width: 480px) { .main-content, .slick-list, .slick-slider { width: 320px; }
  .products { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .product-item { margin-bottom: 20px; }
  .product-item { width: 270px; }
  .slick-slide { margin: 1px 25px; } }

/*# sourceMappingURL=style.css.map */
