
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:flex-start;	
	-webkit-justify-content:flex-start;	
	-ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 15px 0 15px;
	margin: 0 auto;
	position: relative;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
li{
	list-style: none;
}
img {
	max-width: 100%;
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: 'Comfortaa';
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	color: #000;
	padding: 0 0 20px 0;
	text-transform: uppercase;
	font-weight: 400;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|									 CONTENT								 |
================================================================================
*/

.content-wrapper {
	justify-content: space-around;
}

.content{	
	min-width: $min-width;
	text-align:left;
	width: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	background: #f9f9f9;
	padding-top: 20px;
}


/* sidebar */
.sidebar {
	width: 270px;
}

//sidebar menu
.sidebar-menu {
	border: 1px solid #ebebeb;
}

.sidebar-li {
	position: relative;
	justify-content: space-between;
	flex-direction: column;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	@include radius(3px)
}

//sidebar-arrow
.sidebar-arrow {
	@include vertical_center_transform;
	@include transition;
	width: 10px;
	height: 6px;
	right: 13px;
	left: initial;
	cursor: pointer;
	z-index: 999;
	&:after,
	&:before {
		top: 2px;
		position: absolute;
		content: '';
		background-color: #939393;
		width: 6px;
		height: 1px;
	}
	&:after {
		@include rotate(-45deg);
		right: 0;
	}
	&:before {
		@include rotate(45deg)
	}
}

.sidebar-arrow__active{
	@include rotate(180deg);
	@include transition;
}

.sidebar-point {
	position: relative;
	color: #343434;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	padding: 8px 20px;
	cursor: pointer;
}

//sidebar select
.sidebar-li__select {
	flex-direction: row;
}

.jq-selectbox {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 30px;
	width: 160px;
	background-color: #f3f3f3;
	border: 1px solid #e1e1e1;
	font-weight: 700;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	@include shadow(inset 0 1px 3px rgba(0, 0, 0, 0.14));
	@include radius(3px)
}

.jq-selectbox__select-text {
	padding: 6px 15px;

}

.jq-selectbox__dropdown {
	left: -1px;
	right: -1px;
	padding: 5px;
	background-color: #f3f3f3;
	z-index: 1999;
	ul {
		@include scrollbar(0, #000, #000)
	}
	li {
		padding: 4px;
		@include transition(.3s);
		&:hover {
			color: $link-color;
			@include transition(.3s)
		}
	}
}

//sidebar submenu
.sidebar-submenu {
	display: none;
	max-height: 174px;
	overflow-y: auto;
	margin-right: 8px;
	@include scrollbar(3px, #93deff, #93deff )
}

.sidebar-submenu__link {
	display: block;
	padding: 2px 30px;
	color: #444;
	font-size: $base-font-size;
	line-height: 24px;
	@include transition(.3s);
	&:hover {
		color: $link-color;
		@include transition(.3s)

	}
}

.sidebar-submenu__link_active {
	color: $link-color;
}

.sidebar-filter__btn {
	color: #36a8bf;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
}

.main-content {
	width: 900px;
	padding-left: 30px;
}

/* product */
.products {
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-item {
	position: relative;
	width: 270px;
	margin-bottom: 80px;
	background-color: #fff;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #f9f9f9;
	@include transition;
	@include shadow(0 1px 2.8px 1.2px rgba(0, 0, 0, 0.09));
	@include radius(4px);
	&:hover {
		border: 1px solid #c2e8f0;
		@include shadow(0 5px 10.6px 1.4px rgba(68, 190, 217, 0.36));
		@include transition;
		.product-name__title {
			color: $link-color;
		}
	}
}
//product news
.product-news {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: #fff;
	@include radius(3px)
}

.product-news__new {
	padding: 9px 6px;
	background-color: #48b3cb;
}

.product-news__hit {
	padding: 8px;
	background-color: #ffae2e;
}


//product img
.product-img {
	background-color: #fafafa;
	min-height: 234px;
	align-items: center;
	justify-content: center;
}

//product rating
.product-rating {
	justify-content: center;
	margin: 20px 0 10px;
}

.product-rating__star {
	padding: 0;
	width: 15px;
	height: 15px;
	background-image: url('../img/star.png');
	cursor: pointer;
	@include bg_img;
}

.product-rating__star_active {
	background-image: url('../img/star_active.png');
}

//product name
.product-name {
	position: relative;
	padding-bottom: 13px;
	&:after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 50%;
		margin-left: -40px;
		width: 80px;
		height: 1px;
		background-color: #dbdbdb;
	}
}

.product-name__title {
	padding: 0;
	text-align: center;
	color: #282828;
	font-size: 15px;
	line-height: 30px;
}

//product price
.product-price {
	text-align: center;
	margin: 12px 0 13px;
}

.product-price__title {
	color: #282828;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
}

//slick
.slick-slider {
	width: 900px;
}

.slick-slide {
	margin: 1px 15px;
}

.slick-list {
	width: 900px;
	margin: 0 -15px;
}

.slick-arrow {
	position: absolute;
	width: 38px;
	height: 38px;
	bottom: -17px;
	background-color: #f1f1f1;
	border: 1px solid #d7d7d7;
	text-indent: -9999px;
	@include radius(50%);
	&:after,
	&:before {
		position: absolute;
		content: '';
		left: 50%;
		width: 2px;
		height: 7px;
		background-color: #51b5ca;
	}
	&:after{
		top: 17px;
		@include rotate(45deg)
	}
	&:before{
		top: 13px;
		@include rotate(-45deg)
	}
}

.slick-prev {
	left: 41%;
	@include rotate(180deg)
}

.slick-next {
	right: 41%;
}

.slick-dots{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	button{
		font-size: 0;
		border: 0;
		padding: 0;
		margin: 0 3px;
		width: 5px;
		height: 5px;
		background-color: #ccc;
		@include radius(50%);
		&:hover {
			background-color: #e44256;
		}
	}
	.slick-active {
		button {
			background-color: #e44256;
		}
	}
}

@media screen and (max-width: 1200px) {
	.main-content{
		width: 720px;
	}

	.slick-list,
	.slick-slider {
		width: 690px;
	}

	.slick-slide {
		margin: 1px 37px;
	}

	.products {
		justify-content: space-around;
	}

	.slick-prev {
		left: 31%;
	}

	.slick-next {
		right: 31%;
	}
	
}

@media screen and (min-width: 992px){
}

@media screen and (max-width: 991px) {
	.main-content,
	.slick-list,
	.slick-slider {
		width: 460px;
	}

	.product-item {
		width: 200px;
		justify-content: initial;
	}

	.slick-slide {
		margin: 1px 14px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.content-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.sidebar {
		margin-bottom: 20px;
	}

	.main-content {
		padding: 0;
	}

	.product-item {
		width: 220px;
		margin-bottom: 40px;
	}

	.slick-slide {
		margin: 1px 4px;
	}

	.slick-list {
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	.main-content,
	.slick-list,
	.slick-slider {
		width: 320px;
	}

	.products {
		justify-content: center;
	}

	.product-item {
		margin-bottom: 20px;
	}

	.product-item {
		width: 270px;
	}

	.slick-slide {
		margin: 1px 25px;
	}

}



