
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background-color:#f9f9f9;
	width:100%; height: 80px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
	-webkit-order: 1;	
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
